.DS_Store

*.disasm
*.evm
*.log
*.pyc
*.report
*.json
*.sh

.DS_Store

.idea/dist/
.idea

contract_data
dist/
tmp/

current_test.pickle

bytecode
bytecode.1

!tests/contracts/*/*
web/vendor/

.vscode
__pycache__

local_test/